button {
    border: solid;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}
td:hover, td:hover * {
    cursor: pointer;
}

#front {
    background-color: antiquewhite;
}

#front1 {
    padding-top: 50px;
}

table {
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: solid;

}