body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

.admin-container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
option{
    font-size: 30px;
}

button:hover {
    background-color: #0056b3;
}

#ticketContainer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
